<!DOCTYPE html>

<header>
    <div class="header-wrap">
        <button type="button" id="back-button" class="header-icon-button">
            <img src="/assets/left-arrow.png" alt="뒤로가기">
        </button>
        <div class="logo">대청마루</div>
        <div class="profile-container">
            <button type="button" id="profile-button" class="header-icon-button">
                <img id="header-profile-img" src="/assets/profile-default.png" alt="프로필">
            </button>
            <div class="header-dropdown-menu">
                <a href="/public/pages/change_profile/change_profile.html">회원정보 수정</a>
                <a href="/public/pages/change_password/change_password.html">비밀번호 수정</a>
                <a href="#" id="logout-button">로그아웃</a>
            </div>
        </div>
    </div>
    <div id="confirmModal" class="modal-overlay">
        <div class="modal-content">
            <p id="confirmMessage"></p>
            <div class="modal-button-container">
                <button id="confirmCancelButton" class="modal-button modal-button-cancel">
                    취소
                </button>
                <button id="confirmOkButton" class="modal-button modal-button-confirm">
                    확인
                </button>
            </div>
        </div>
    </div>
    <div id="infoModal" class="modal-overlay">
        <div class="modal-content">
            <p id="modalMessage"></p>
            <button id="modalOkButton" class="modal-button modal-button-confirm">확인</button>
        </div>
    </div>
</header>